@using TuLote.Enums
@model TuLote.Entidades.Lote

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-4">
    <h3 class="text-start text-warning mb-3">Crear Lote</h3>
    <form method="post" asp-action="Crear" method="post" id="formulario" onsubmit="enviarFormulario(event)">
        <div class="row col-md-12">
            <div asp-validation-summary="ModelOnly" class="danger"></div>
            <div class="col-md-4">



                <div class="col-12 mb-3">

                    <select asp-for="Barrio_Id" class="form-control" asp-items="ViewBag.Barrio_Id">
                        <option>--Selecciona el barrio--</option>
                    </select>
                </div>

                <div class="col-12 mb-3">

                    <input asp-for="Numero" placeholder="Nro. de lote" class="form-control">
                    <span asp-validation-for="Numero" class="text-info fw-bolder"></span>
                </div>

                <div class="col-12 mb-3">

                    <input asp-for="Metros" placeholder="Metros cuadrados" class="form-control">
                    <span asp-validation-for="Metros" class="text-info fw-bolder"></span>
                </div>

                <div class="col-12 mb-3">
                    @Html.DropDownList("Orientacion", Html.GetEnumSelectList<Orientaciones>(), "--Seleccionar orientación--", new { @class = "form-control" })
                    <span asp-validation-for="Orientacion" class="text-info fw-bolder"></span>
                </div>
                <div class="col-12 mb-3">
                    @Html.DropDownList("Tipo", Html.GetEnumSelectList<Tipo>(), "--Seleccionar Tipo/Ubicación--", new { @class = "form-control" })
                    <span asp-validation-for="Tipo" class="text-info fw-bolder"></span>
                </div>
            </div>
            <div class="col-md-4">

                <div class="col-12 mb-3">

                    <p class="text-white fw-bolder"><input asp-for="Disponible" class="bg-success" value="Activo" type="radio" value="True"> ACTIVO </p>
                    <p class="text-white fw-bolder"><input asp-for="Disponible" class="bg-success" value="Inactivo" type="radio" value="False"> INACTIVO  </p>
                    <span asp-validation-for="Disponible" class="text-info fw-bolder"></span>
                </div>

                <div class="col-12 mb-3">

                    <input asp-for="Precio" placeholder="Precio en dolares" class="form-control">
                    <span asp-validation-for="Precio" class="text-info fw-bolder"></span>
                </div>
                <div class="form-group mb-2 col-12">
                    <label type="hidden" asp-for="FechaCreacion" class="control-label text-white fw-bolder mb-2">Fecha de creación</label>
                    <input type="date" asp-for="FechaCreacion" class="control-label" id="Fecha" />

                </div>
                <div class="col-12 mb-3">
                    <select onchange="ddl_change_func(this,this);" asp-for="Usuario_Id" class="form-control" asp-items="ViewBag.Usuario"><option>--Selecciona tu usuario--</option></select>
                </div>

            </div>
            <div class="col-md-8 btn-group mb-3">
                <button type="submit" class="btn btn-success col-md-6 fs-6 fw-bold"><i class="fa-solid fa-house-circle-check"></i>&nbsp&nbspCrear</button>
                <a class="btn btn-warning text-white col-md-6 fs-6 fw-bold" asp-action="Index"><i class="fa-solid fa-backward"></i>&nbsp&nbspRegresar</a>
            </div>
        </div>

    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
                $(function(){
                $("#barrioId").change(function(){
                    var url= '@Url.Content("~/")'+ "Lotes/GetEtapasById";

                    var ddlsource="#barrioId";
                    $.getJSON(url,{idBarrio:$(ddlsource).val()},function(data){
                        var items='';
                        $("#etapaId").empty();
                        $.each(data,function(i,row)
                        {

                            items += "<option value='" + row.id+ "'>" + row.nombre +" </option>";

                        });
                        $("#etapaId").html(items);
                    })
                })
                })



                function ddl_change_func(param1,param2) {
                    //code logic here...

                    //set value of hidden field with selected option text
                    var nombre = $(param1).find("option:selected").text();
                    $("#selected_val").val(nombre);

                     var id = $(param2).find("option:selected").val();
                     $("#selected_val3").val(id)

                }

                function ddl_change_func2(param1) {
                    //code logic here...

                    //set value of hidden field with selected option text
                    var IdBarrio = $(param1).find("option:selected").val();


                    $("#selected_val2").val(IdBarrio);
                }
    //Restringir fechas pasadas
    $(function(){
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();

        var minDate= year + '-' + month + '-' + day;

        $('#Fecha').attr('min', minDate);
    });

</script>