@model TuLote.Models.ViewModel.LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="login-body">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5">
                <form asp-action="Login">
                    <h1 class="text-warning text-center">INICIAR SESIÓN</h1>
                    <center><img class="img-form mb-2" src=~/img/candaosa.png /></center>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Email</label>
                        <input asp-for="Email" type="email" type="email" class="form-control form-control-md text-center fs-6" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label">Contraseña</label>
                        <input asp-for="Password" type="password" class="form-control form-control-md text-center fs-6" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2 form-group">
                        <button type="submit" asp-controller="Usuarios" class="btn btn-success fw-bold fs-6">Ingresar</button>
                        <a class="btn btn-warning text-secondary fw-bold fs-6" asp-action="Registro">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>





