@{
    ViewData["Title"] = "Home Page";
}
<body class="home">
    <div class="mb-2">
        <h2 class="text-warning text-center fw-bolder">Bienvenid@s a Candaosa Propiedades</h2>
        <center><img class="imagen-home" src="~/img/candaosa.png" /></center>
    </div>
</body>

