@model TuLote.Entidades.Barrio

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-warning">Eliminar barrio</h1>

<h3 class="text-danger text-bolder col-md-4">¿Estás seguro de eliminarlo?</h3>
<div class="col-md-6">

    <hr />
    <dl class="text-white fw-bold">
        <dt class="col-sm-2 ms-2 text-warning">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10 ms-2">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2 ms-2 text-warning">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class="col-sm-10 ms-2">
            @Html.DisplayFor(model => model.Localidad.Nombre)
        </dd>
    </dl>
    <div class="col-12">
        <form asp-action="Delete">
            <div class="btn-group col-8">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar" class="btn btn-danger fw-bolder col-6 rounded fs-6 fw-bold" />
                <a class="text-white fw-bolder btn btn-success col-6 rounded ms-1 fs-6 fw-bold" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>
